[Desktop Entry]
Version=1.0
Type=Application
Name=LibreOffice Impress
Comment=Presentation
Exec=libreoffice --impress %U
Icon=libreoffice-impress
Terminal=false
Categories=Office;Presentation;
MimeType=application/vnd.oasis.opendocument.presentation;
