[Desktop Entry]
Name=LibreOffice
Comment=Office Productivity Suite
Exec=libreoffice
Icon=libreoffice-main
Terminal=false
Type=Application
Categories=Office;
